@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-inner {
  animation: marqueeScroll linear infinite;
}
